<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>ExpediaClient</display-name>
	<filter>
		<display-name>UTF8Filter</display-name>
		<filter-name>UTF8Filter</filter-name>
		<filter-class>com.expedia.web.filter.UTF8Filter</filter-class>
	</filter>
	<filter>
		<display-name>InputFilter</display-name>
		<filter-name>InputFilter</filter-name>
		<filter-class>com.expedia.web.filter.InputFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UTF8Filter</filter-name>
		<url-pattern>/UTF8Filter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>InputFilter</filter-name>
		<url-pattern>/InputFilter</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>AcceptRequestServlet</display-name>
		<servlet-name>AcceptRequestServlet</servlet-name>
		<servlet-class>com.expedia.web.servlet.AcceptRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetMyOffersServlet</display-name>
		<servlet-name>GetMyOffersServlet</servlet-name>
		<servlet-class>com.expedia.web.servlet.GetMyOffersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AcceptRequestServlet</servlet-name>
		<url-pattern>/AcceptRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMyOffersServlet</servlet-name>
		<url-pattern>
		/GetMyOffers</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>AcceptRequest</welcome-file>
	</welcome-file-list>
</web-app>